@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@400;600;700&display=swap');
@import "reset";

//GLOBAL
body {
    font-family: $f-lato;
    font-size: 17px;
}

// HEADER
.menu {
    z-index: 1000;

    .nav-link {
        color: $c-blue;
        font-size: 20px; //different as project
        text-transform: lowercase;
        transition: all .4s;
    }

    .nav-link:hover {
        color: $c-orange;
    }
}

.menu__logo img {
    height: 65px;
    object-fit: contain;
    padding-right: 25px;
}


// HERO SECTION
.hero {
    position: relative;
    background-size: cover;
    padding: 0;
    height: 70vh;
}


.hero__form {
    position: relative;
    z-index: 100;
}

.hero__form-box {
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0px 8px 48px rgba(22, 22, 22, 0.08);
    min-height: 604px;
}

.hero__bluebox {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(28, 62, 149, 0.75);
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .hero {
        height: auto;
    }

    .hero__bluebox {
        position: relative;
    }
}

.hero__header {
    color: $c-orange;
    font-family: $f-quicksand;
    font-weight: 700;
    font-size: 52px;
    line-height: 56px;
}

@media only screen and (max-width: 767px) {
    .hero__header {
        font-size: 46px;
        line-height: 52px;
    }
}

.hero__desc {
    color: $c-white;
    font-family: $f-quicksand;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

.hero__form-header {
    color: $c-blue;
    font-family: $f-quicksand;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}


.hero__contact-form {

    p {
        line-height: 14px;
        margin-bottom: 0;
    }

    textarea,
    select,
    input[type="text"],
    input[type="email"] {
        color: $c-black;
        width: 100%;
        padding: 12px;
        border: 1px solid $c-gray;
    }

    .wpcf7-not-valid-tip{
        padding-top: 5px;
        font-size: 9px;
    }

    .wpcf7-spinner{
        margin: 0;
    }

}

.hero__contact-form-acceptance {
    padding-left: 30px;
    padding-top: 10px;

    input{
        width: 17px;
        height: 17px;
        margin-left: -30px;
        margin-right: 10px;
    }

    span{
        color: $c-black;
        opacity: .8;
        font-size: 13px;
        font-weight: 300;
    }
}


// ABOUT / OFFER
.about{
    position: relative;
    background-image: url('../assets/section-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.about__bigheader {
    color: $c-blue;
    font-family: $f-quicksand;
    font-weight: 700;
    font-size: 63px;
    line-height: 68px;
}

@media only screen and (max-width: 767px) {
    .about__bigheader {
        font-size: 46px;
        line-height: 60px;
    }
}

.about__header{
    color: $c-blue;
    font-family: $f-quicksand;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
}


// FOOTER
.footer {
    background-color: $c-blue;

    .nav-link {
        color: $c-white;
        padding: 5px 0;
    }

    .nav-link:hover,
    .nav-link.active {
        color: $c-orange;
    }
}

.footer__navtitle {
    color: $c-white;
    font-family: $f-quicksand;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer__phone {
    color: $c-orange;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    white-space: nowrap;
    transition: all .2s;
}

.footer__phone:hover{
    color: $c-white;
}