// --- COLORS ---
$c-blue: #1C3E95;
$c-white: #FFF;
$c-orange: #FE7A22;
$c-black: #161616;
$c-gray: #979494;


// --- FONTS ---
$f-quicksand: 'Quicksand', sans-serif;
$f-lato: 'Lato', sans-serif;


// --- GLOBAL CLASSES ---

.button{
    color: $c-white;
    background-color: $c-orange;
    font-family: $f-quicksand;
    font-weight: 700;
    border-radius: 10px;
    padding: 1rem 4rem;
    border: 2px solid $c-orange;
}